<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="MuseeCreateDlg" widgetVar="MuseeCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateMuseeTitle}">
            <h:form id="MuseeCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{museeController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateMuseeLabel_nomreg}" for="nomreg" />
                        <p:inputText id="nomreg" value="#{museeController.selected.nomreg}" title="#{bundle.CreateMuseeTitle_nomreg}" />
                        <p:outputLabel value="#{bundle.CreateMuseeLabel_nomdep}" for="nomdep" />
                        <p:inputText id="nomdep" value="#{museeController.selected.nomdep}" title="#{bundle.CreateMuseeTitle_nomdep}" />
                        <p:outputLabel value="#{bundle.CreateMuseeLabel_dateappellation}" for="dateappellation" />
                        <p:calendar id="dateappellation" pattern="MM/dd/yyyy HH:mm:ss" value="#{museeController.selected.dateappellation}" title="#{bundle.EditMuseeTitle_dateappellation}"  showOn="button"/>
                        <p:outputLabel value="#{bundle.CreateMuseeLabel_ferme}" for="ferme" />
                        <p:inputText id="ferme" value="#{museeController.selected.ferme}" title="#{bundle.CreateMuseeTitle_ferme}" />
                        <p:outputLabel value="#{bundle.CreateMuseeLabel_annreouv}" for="annreouv" />
                        <p:inputText id="annreouv" value="#{museeController.selected.annreouv}" title="#{bundle.CreateMuseeTitle_annreouv}" />
                        <p:outputLabel value="#{bundle.CreateMuseeLabel_annexe}" for="annexe" />
                        <p:inputText id="annexe" value="#{museeController.selected.annexe}" title="#{bundle.CreateMuseeTitle_annexe}" />
                        <p:outputLabel value="#{bundle.CreateMuseeLabel_nomDuMusee}" for="nomDuMusee" />
                        <p:inputText id="nomDuMusee" value="#{museeController.selected.nomDuMusee}" title="#{bundle.CreateMuseeTitle_nomDuMusee}" />
                        <p:outputLabel value="#{bundle.CreateMuseeLabel_adr}" for="adr" />
                        <p:inputText id="adr" value="#{museeController.selected.adr}" title="#{bundle.CreateMuseeTitle_adr}" />
                        <p:outputLabel value="#{bundle.CreateMuseeLabel_cp}" for="cp" />
                        <p:inputText id="cp" value="#{museeController.selected.cp}" title="#{bundle.CreateMuseeTitle_cp}" />
                        <p:outputLabel value="#{bundle.CreateMuseeLabel_ville}" for="ville" />
                        <p:inputText id="ville" value="#{museeController.selected.ville}" title="#{bundle.CreateMuseeTitle_ville}" />
                        <p:outputLabel value="#{bundle.CreateMuseeLabel_sitweb}" for="sitweb" />
                        <p:inputText id="sitweb" value="#{museeController.selected.sitweb}" title="#{bundle.CreateMuseeTitle_sitweb}" />
                        <p:outputLabel value="#{bundle.CreateMuseeLabel_fermetureAnnuelle}" for="fermetureAnnuelle" />
                        <p:inputText id="fermetureAnnuelle" value="#{museeController.selected.fermetureAnnuelle}" title="#{bundle.CreateMuseeTitle_fermetureAnnuelle}" />
                        <p:outputLabel value="#{bundle.CreateMuseeLabel_periodeOuverture}" for="periodeOuverture" />
                        <p:inputText id="periodeOuverture" value="#{museeController.selected.periodeOuverture}" title="#{bundle.CreateMuseeTitle_periodeOuverture}" />
                        <p:outputLabel value="#{bundle.CreateMuseeLabel_joursNocturnes}" for="joursNocturnes" />
                        <p:inputText id="joursNocturnes" value="#{museeController.selected.joursNocturnes}" title="#{bundle.CreateMuseeTitle_joursNocturnes}" />
                        <p:outputLabel value="#{bundle.CreateMuseeLabel_id}" for="id" />
                        <p:inputText id="id" value="#{museeController.selected.id}" title="#{bundle.CreateMuseeTitle_id}" required="true" requiredMessage="#{bundle.CreateMuseeRequiredMessage_id}"/>
                        <p:outputLabel value="#{bundle.CreateMuseeLabel_vill}" for="vill" />
                        <p:inputText id="vill" value="#{museeController.selected.vill}" title="#{bundle.CreateMuseeTitle_vill}" />
                    </p:panelGrid>
                    <p:commandButton actionListener="#{museeController.create}" value="#{bundle.Save}" update="display,:MuseeListForm:datalist,:growl" oncomplete="handleSubmit(args,'MuseeCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="MuseeCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
