<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">


    <ui:composition template="/template.xhtml">


        <ui:define name="title">
            <h:outputText value="#{bundle.ListMuseeTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form id="MuseeListForm">
                 <h:selectOneMenu
             valueChangeListener="#{classListener.valueChange }"
				onchange="submit();">

				<f:selectItem itemLabel="Français" itemValue="fr" />
				<f:selectItem itemLabel="Anglais" itemValue="en" />
			</h:selectOneMenu>
                <p:panel header="#{bundle.ListMuseeTitle}">
                    <p:dataTable id="datalist" value="#{museeController.items}" var="item"
                                 selectionMode="single" selection="#{museeController.selected}"
                                 paginator="true"
                                 rowKey="#{item.id}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                        <p:column sortBy="#{item.nomreg}" filterBy="#{item.nomreg}">
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListMuseeTitle_nomreg}"/>
                            </f:facet>
                            <h:outputText value="#{item.nomreg}"/>
                        </p:column>
                        <p:column sortBy="#{item.nomdep}" filterBy="#{item.nomdep}">
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListMuseeTitle_nomdep}"/>
                            </f:facet>
                            <h:outputText value="#{item.nomdep}"/>
                        </p:column>
                        <p:column sortBy="#{item.dateappellation}" filterBy="#{item.dateappellation}">
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListMuseeTitle_dateappellation}"/>
                            </f:facet>
                            <h:outputText value="#{item.dateappellation}">
                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                            </h:outputText>
                        </p:column>
                        <p:column sortBy="#{item.ferme}" filterBy="#{item.ferme}">
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListMuseeTitle_ferme}"/>
                            </f:facet>
                            <h:outputText value="#{item.ferme}"/>
                        </p:column>
                        <!--<p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListMuseeTitle_annreouv}"/>
                            </f:facet>
                            <h:outputText value="#{item.annreouv}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListMuseeTitle_annexe}"/>
                            </f:facet>
                            <h:outputText value="#{item.annexe}"/>
                        </p:column>-->
                        <p:column sortBy="#{item.nomDuMusee}" filterBy="#{item.nomDuMusee}">
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListMuseeTitle_nomDuMusee}"/>
                            </f:facet>
                            <h:outputText value="#{item.nomDuMusee}"/>
                        </p:column>
                        <p:column sortBy="#{item.adr}" filterBy="#{item.adr}">
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListMuseeTitle_adr}"/>
                            </f:facet>
                            <h:outputText value="#{item.adr}"/>
                        </p:column>
                        <p:column sortBy="#{item.cp}" filterBy="#{item.cp}">
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListMuseeTitle_cp}"/>
                            </f:facet>
                            <h:outputText value="#{item.cp}"/>
                        </p:column>
                        <p:column sortBy="#{item.ville}" filterBy="#{item.ville}">
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListMuseeTitle_ville}"/>
                            </f:facet>
                            <h:outputText value="#{item.ville}"/>
                        </p:column>
                        <p:column sortBy="#{item.sitweb}" filterBy="#{item.sitweb}">
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListMuseeTitle_sitweb}"/>
                            </f:facet>
                            <h:outputText value="#{item.sitweb}"/>
                        </p:column>
                        <p:column sortBy="#{item.fermetureAnnuelle}" filterBy="#{item.fermetureAnnuelle}">
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListMuseeTitle_fermetureAnnuelle}"/>
                            </f:facet>
                            <h:outputText value="#{item.fermetureAnnuelle}"/>
                        </p:column>
                        <p:column sortBy="#{item.periodeOuverture}" filterBy="#{item.periodeOuverture}">
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListMuseeTitle_periodeOuverture}"/>
                            </f:facet>
                            <h:outputText value="#{item.periodeOuverture}"/>
                        </p:column>
                        <!--<p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListMuseeTitle_joursNocturnes}"/>
                            </f:facet>
                            <h:outputText value="#{item.joursNocturnes}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListMuseeTitle_id}"/>
                            </f:facet>
                            <h:outputText value="#{item.id}"/>
                        </p:column>
                       <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListMuseeTitle_vill}"/>
                            </f:facet>
                            <h:outputText value="#{item.vill}"/>
                        </p:column>-->
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{museeController.prepareCreate}" update=":MuseeCreateForm" oncomplete="PF('MuseeCreateDialog').show()"/>
                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{bundle.View}" update=":MuseeViewForm" oncomplete="PF('MuseeViewDialog').show()" disabled="#{empty museeController.selected}"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":MuseeEditForm" oncomplete="PF('MuseeEditDialog').show()" disabled="#{empty museeController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{museeController.destroy}" update=":growl,datalist" disabled="#{empty museeController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="View.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
