<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="MuseeViewDlg" widgetVar="MuseeViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewMuseeTitle}">
            <h:form id="MuseeViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{museeController.selected != null}">
                        <h:outputText value="#{bundle.ViewMuseeLabel_nomreg}"/>
                        <h:outputText value="#{museeController.selected.nomreg}" title="#{bundle.ViewMuseeTitle_nomreg}"/>
                        <h:outputText value="#{bundle.ViewMuseeLabel_nomdep}"/>
                        <h:outputText value="#{museeController.selected.nomdep}" title="#{bundle.ViewMuseeTitle_nomdep}"/>
                        <h:outputText value="#{bundle.ViewMuseeLabel_dateappellation}"/>
                        <h:outputText value="#{museeController.selected.dateappellation}" title="#{bundle.ViewMuseeTitle_dateappellation}">
                            <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewMuseeLabel_ferme}"/>
                        <h:outputText value="#{museeController.selected.ferme}" title="#{bundle.ViewMuseeTitle_ferme}"/>
                        <h:outputText value="#{bundle.ViewMuseeLabel_annreouv}"/>
                        <h:outputText value="#{museeController.selected.annreouv}" title="#{bundle.ViewMuseeTitle_annreouv}"/>
                        <h:outputText value="#{bundle.ViewMuseeLabel_annexe}"/>
                        <h:outputText value="#{museeController.selected.annexe}" title="#{bundle.ViewMuseeTitle_annexe}"/>
                        <h:outputText value="#{bundle.ViewMuseeLabel_nomDuMusee}"/>
                        <h:outputText value="#{museeController.selected.nomDuMusee}" title="#{bundle.ViewMuseeTitle_nomDuMusee}"/>
                        <h:outputText value="#{bundle.ViewMuseeLabel_adr}"/>
                        <h:outputText value="#{museeController.selected.adr}" title="#{bundle.ViewMuseeTitle_adr}"/>
                        <h:outputText value="#{bundle.ViewMuseeLabel_cp}"/>
                        <h:outputText value="#{museeController.selected.cp}" title="#{bundle.ViewMuseeTitle_cp}"/>
                        <h:outputText value="#{bundle.ViewMuseeLabel_ville}"/>
                        <h:outputText value="#{museeController.selected.ville}" title="#{bundle.ViewMuseeTitle_ville}"/>
                        <h:outputText value="#{bundle.ViewMuseeLabel_sitweb}"/>
                        <h:outputText value="#{museeController.selected.sitweb}" title="#{bundle.ViewMuseeTitle_sitweb}"/>
                        <h:outputText value="#{bundle.ViewMuseeLabel_fermetureAnnuelle}"/>
                        <h:outputText value="#{museeController.selected.fermetureAnnuelle}" title="#{bundle.ViewMuseeTitle_fermetureAnnuelle}"/>
                        <h:outputText value="#{bundle.ViewMuseeLabel_periodeOuverture}"/>
                        <h:outputText value="#{museeController.selected.periodeOuverture}" title="#{bundle.ViewMuseeTitle_periodeOuverture}"/>
                        <h:outputText value="#{bundle.ViewMuseeLabel_joursNocturnes}"/>
                        <h:outputText value="#{museeController.selected.joursNocturnes}" title="#{bundle.ViewMuseeTitle_joursNocturnes}"/>
                        <h:outputText value="#{bundle.ViewMuseeLabel_id}"/>
                        <h:outputText value="#{museeController.selected.id}" title="#{bundle.ViewMuseeTitle_id}"/>
                        <h:outputText value="#{bundle.ViewMuseeLabel_vill}"/>
                        <h:outputText value="#{museeController.selected.vill}" title="#{bundle.ViewMuseeTitle_vill}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="MuseeViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
