<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="UsersCreateDlg" widgetVar="UsersCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateUsersTitle}">
            <h:form id="UsersCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{usersController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateUsersLabel_uid}" for="uid" />
                        <p:inputText id="uid" value="#{usersController.selected.uid}" title="#{bundle.CreateUsersTitle_uid}" required="true" requiredMessage="#{bundle.CreateUsersRequiredMessage_uid}"/>
                        <p:outputLabel value="#{bundle.CreateUsersLabel_uname}" for="uname" />
                        <p:inputText id="uname" value="#{usersController.selected.uname}" title="#{bundle.CreateUsersTitle_uname}" required="true" requiredMessage="#{bundle.CreateUsersRequiredMessage_uname}"/>
                        <p:outputLabel value="#{bundle.CreateUsersLabel_password}" for="password" />
                        <p:inputText id="password" value="#{usersController.selected.password}" title="#{bundle.CreateUsersTitle_password}" required="true" requiredMessage="#{bundle.CreateUsersRequiredMessage_password}"/>
                        <p:outputLabel value="#{bundle.CreateUsersLabel_mail}" for="mail" />
                        <p:inputText id="mail" value="#{usersController.selected.mail}" title="#{bundle.CreateUsersTitle_mail}" required="true" requiredMessage="#{bundle.CreateUsersRequiredMessage_mail}"/>
                        <p:outputLabel value="#{bundle.CreateUsersLabel_firstname}" for="firstname" />
                        <p:inputText id="firstname" value="#{usersController.selected.firstname}" title="#{bundle.CreateUsersTitle_firstname}" required="true" requiredMessage="#{bundle.CreateUsersRequiredMessage_firstname}"/>
                        <p:outputLabel value="#{bundle.CreateUsersLabel_lastname}" for="lastname" />
                        <p:inputText id="lastname" value="#{usersController.selected.lastname}" title="#{bundle.CreateUsersTitle_lastname}" required="true" requiredMessage="#{bundle.CreateUsersRequiredMessage_lastname}"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{usersController.create}" value="#{bundle.Save}" update="display,:UsersListForm:datalist,:growl" oncomplete="handleSubmit(args,'UsersCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="UsersCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
