<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="UsersEditDlg" widgetVar="UsersEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditUsersTitle}">
            <h:form id="UsersEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{usersController.selected != null}">
                        <p:outputLabel value="#{bundle.EditUsersLabel_uid}" for="uid" />
                        <p:inputText id="uid" value="#{usersController.selected.uid}" title="#{bundle.EditUsersTitle_uid}" required="true" requiredMessage="#{bundle.EditUsersRequiredMessage_uid}"/>
                        <p:outputLabel value="#{bundle.EditUsersLabel_uname}" for="uname" />
                        <p:inputText id="uname" value="#{usersController.selected.uname}" title="#{bundle.EditUsersTitle_uname}" required="true" requiredMessage="#{bundle.EditUsersRequiredMessage_uname}"/>
                        <p:outputLabel value="#{bundle.EditUsersLabel_password}" for="password" />
                        <p:inputText id="password" value="#{usersController.selected.password}" title="#{bundle.EditUsersTitle_password}" required="true" requiredMessage="#{bundle.EditUsersRequiredMessage_password}"/>
                        <p:outputLabel value="#{bundle.EditUsersLabel_mail}" for="mail" />
                        <p:inputText id="mail" value="#{usersController.selected.mail}" title="#{bundle.EditUsersTitle_mail}" required="true" requiredMessage="#{bundle.EditUsersRequiredMessage_mail}"/>
                        <p:outputLabel value="#{bundle.EditUsersLabel_firstname}" for="firstname" />
                        <p:inputText id="firstname" value="#{usersController.selected.firstname}" title="#{bundle.EditUsersTitle_firstname}" required="true" requiredMessage="#{bundle.EditUsersRequiredMessage_firstname}"/>
                        <p:outputLabel value="#{bundle.EditUsersLabel_lastname}" for="lastname" />
                        <p:inputText id="lastname" value="#{usersController.selected.lastname}" title="#{bundle.EditUsersTitle_lastname}" required="true" requiredMessage="#{bundle.EditUsersRequiredMessage_lastname}"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{usersController.update}" value="#{bundle.Save}" update="display,:UsersListForm:datalist,:growl" oncomplete="handleSubmit(args, 'UsersEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="UsersEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
