<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="UsersViewDlg" widgetVar="UsersViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewUsersTitle}">
            <h:form id="UsersViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{usersController.selected != null}">
                        <h:outputText value="#{bundle.ViewUsersLabel_uid}"/>
                        <h:outputText value="#{usersController.selected.uid}" title="#{bundle.ViewUsersTitle_uid}"/>
                        <h:outputText value="#{bundle.ViewUsersLabel_uname}"/>
                        <h:outputText value="#{usersController.selected.uname}" title="#{bundle.ViewUsersTitle_uname}"/>
                        <h:outputText value="#{bundle.ViewUsersLabel_password}"/>
                        <h:outputText value="#{usersController.selected.password}" title="#{bundle.ViewUsersTitle_password}"/>
                        <h:outputText value="#{bundle.ViewUsersLabel_mail}"/>
                        <h:outputText value="#{usersController.selected.mail}" title="#{bundle.ViewUsersTitle_mail}"/>
                        <h:outputText value="#{bundle.ViewUsersLabel_firstname}"/>
                        <h:outputText value="#{usersController.selected.firstname}" title="#{bundle.ViewUsersTitle_firstname}"/>
                        <h:outputText value="#{bundle.ViewUsersLabel_lastname}"/>
                        <h:outputText value="#{usersController.selected.lastname}" title="#{bundle.ViewUsersTitle_lastname}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="UsersViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
