<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ContactCreateDlg" widgetVar="ContactCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateContactTitle}">
            <h:form id="ContactCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{contactController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateContactLabel_name}" for="name" />
                        <p:inputText id="name" value="#{contactController.selected.name}" title="#{bundle.CreateContactTitle_name}" required="true" requiredMessage="#{bundle.CreateContactRequiredMessage_name}"/>
                        <p:outputLabel value="#{bundle.CreateContactLabel_email}" for="email" />
                        <p:inputText id="email" value="#{contactController.selected.email}" title="#{bundle.CreateContactTitle_email}" required="true" requiredMessage="#{bundle.CreateContactRequiredMessage_email}"/>
                        <p:outputLabel value="#{bundle.CreateContactLabel_subject}" for="subject" />
                        <p:inputText id="subject" value="#{contactController.selected.subject}" title="#{bundle.CreateContactTitle_subject}" required="true" requiredMessage="#{bundle.CreateContactRequiredMessage_subject}"/>
                        <p:outputLabel value="#{bundle.CreateContactLabel_message}" for="message" />
                        <p:inputText id="message" value="#{contactController.selected.message}" title="#{bundle.CreateContactTitle_message}" required="true" requiredMessage="#{bundle.CreateContactRequiredMessage_message}"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{contactController.create}" value="#{bundle.Save}" update="display,:ContactListForm:datalist,:growl" oncomplete="handleSubmit(args,'ContactCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="ContactCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
