<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ContactEditDlg" widgetVar="ContactEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditContactTitle}">
            <h:form id="ContactEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{contactController.selected != null}">
                        <p:outputLabel value="#{bundle.EditContactLabel_name}" for="name" />
                        <p:inputText id="name" value="#{contactController.selected.name}" title="#{bundle.EditContactTitle_name}" required="true" requiredMessage="#{bundle.EditContactRequiredMessage_name}"/>
                        <p:outputLabel value="#{bundle.EditContactLabel_email}" for="email" />
                        <p:inputText id="email" value="#{contactController.selected.email}" title="#{bundle.EditContactTitle_email}" required="true" requiredMessage="#{bundle.EditContactRequiredMessage_email}"/>
                        <p:outputLabel value="#{bundle.EditContactLabel_subject}" for="subject" />
                        <p:inputText id="subject" value="#{contactController.selected.subject}" title="#{bundle.EditContactTitle_subject}" required="true" requiredMessage="#{bundle.EditContactRequiredMessage_subject}"/>
                        <p:outputLabel value="#{bundle.EditContactLabel_message}" for="message" />
                        <p:inputText id="message" value="#{contactController.selected.message}" title="#{bundle.EditContactTitle_message}" required="true" requiredMessage="#{bundle.EditContactRequiredMessage_message}"/>
                        <p:outputLabel value="#{bundle.EditContactLabel_id}" for="id" />
                        <p:inputText id="id" value="#{contactController.selected.id}" title="#{bundle.EditContactTitle_id}" required="true" requiredMessage="#{bundle.EditContactRequiredMessage_id}"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{contactController.update}" value="#{bundle.Save}" update="display,:ContactListForm:datalist,:growl" oncomplete="handleSubmit(args, 'ContactEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="ContactEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
