<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ContactViewDlg" widgetVar="ContactViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewContactTitle}">
            <h:form id="ContactViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{contactController.selected != null}">
                        <h:outputText value="#{bundle.ViewContactLabel_name}"/>
                        <h:outputText value="#{contactController.selected.name}" title="#{bundle.ViewContactTitle_name}"/>
                        <h:outputText value="#{bundle.ViewContactLabel_email}"/>
                        <h:outputText value="#{contactController.selected.email}" title="#{bundle.ViewContactTitle_email}"/>
                        <h:outputText value="#{bundle.ViewContactLabel_subject}"/>
                        <h:outputText value="#{contactController.selected.subject}" title="#{bundle.ViewContactTitle_subject}"/>
                        <h:outputText value="#{bundle.ViewContactLabel_message}"/>
                        <h:outputText value="#{contactController.selected.message}" title="#{bundle.ViewContactTitle_message}"/>
                        <h:outputText value="#{bundle.ViewContactLabel_id}"/>
                        <h:outputText value="#{contactController.selected.id}" title="#{bundle.ViewContactTitle_id}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="ContactViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
