<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core">
	<h:body>
	<!-- Footer -->
	<footer>
		<div class="container">
			<div class="row">
				<div class="widget span3">
					<h4>Apropos de nous</h4>
					<p>
						L’université Paris-Est-Marne-la-Vallée, de nom d’usage « université Paris-Est Marne-la-Vallée »,
						est une université française située dans la ville
						nouvelle de Marne-la-Vallée, principalement à Champs-sur-Marne sur le site du campus Descartes
					</p>
					<p><a href="">Read more...</a></p>
				</div>
				<div class="widget span3">
					<h4>Latest Tweets</h4>

					<a class="twitter-timeline" data-width="220" data-height="200" href="https://twitter.com/upemlv"></a>
					<script  src="//platform.twitter.com/widgets.js" charset="utf-8"></script>


					</div>
				<div class="widget span3">
				</div>
				<div class="widget span3">
					<h4>Contact Us</h4>
					<p><i class="icon-map-marker"></i> Adresse : 5 Boulevard Descartes, 77420 Champs-sur-Marne</p>
					<p><i class="icon-phone"></i> Téléphone: +33 01 60 95 75 00 </p>
					<p><i class="icon-user"></i> FAX: +33 01 60 95 75 00</p>
					<p><i class="icon-envelope-alt"></i> Email: <a href="">scolarite.iut-champs@u-pem.fr
					</a></p>
				</div>
			</div>
			<div class="footer-border"></div>
			<div class="row">
				<div class="copyright span4">
					<p>Copyright 2017 othmane - All rights reserved. Template by <a href="http://u-pem.com">UPEM</a>.</p>
				</div>
				<div class="social span8">
					<a class="facebook" href="https://www.facebook.com/upemlv"></a>
					<a class="dribbble" href=""></a>
					<a class="twitter" href="https://www.twitter.com/upemlv"></a>
					<a class="pinterest" href=""></a>
				</div>
			</div>
		</div>
	</footer>
		<!-- Javascript -->
		<script src="assets/js/jquery-1.8.2.min.js"></script>
		<script src="assets/bootstrap/js/bootstrap.min.js"></script>
		<script src="assets/js/jquery.flexslider.js"></script>
		<script src="assets/js/jquery.tweet.js"></script>
		<script src="assets/js/jflickrfeed.js"></script>
		<script src="http://maps.google.com/maps/api/js?sensor=true"></script>
		<script src="assets/js/jquery.ui.map.min.js"></script>
		<script src="assets/js/jquery.quicksand.js"></script>
		<script src="assets/prettyPhoto/js/jquery.prettyPhoto.js"></script>
		<script src="assets/js/scripts.js"></script>
	</h:body>

</ui:composition>