<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://java.sun.com/jsf/html">
<!-- CSS -->
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,400"/>
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Droid+Sans"/>
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lobster"/>
<link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css"/>
<link rel="stylesheet" href="assets/prettyPhoto/css/prettyPhoto.css"/>
<link rel="stylesheet" href="assets/css/flexslider.css"/>
<link rel="stylesheet" href="assets/css/font-awesome.css"/>
<link rel="stylesheet" href="assets/css/style.css"/>
<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<!-- Favicon and touch icons -->
<link rel="shortcut icon" href="assets/ico/favicon.png"/>
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png"/>
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png"/>
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png"/>
<link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png"/>

	<h:head>
		<title>login</title>
	</h:head>
	<h:body>

		<!-- Header -->
		<div class="container">
			<div class="header row">
				<div class="span12">
					<div class="navbar">
						<div class="navbar-inner">
							<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</a>
							<h1>
								<a class="brand" href="accueil.xhtml">Andia - a super cool design agency...</a>
							</h1>
							<div class="nav-collapse collapse">
								<ul class="nav pull-right">
									<li class="current-page">
										<a href="accueil.xhtml"><i class="icon-home"></i><br />ACCEUIL</a>
									</li>
									<li>
                                                                            <a href="/jee-project/faces/checkin.xhtml"><i class="icon-search"></i><br />Search with geo</a>
									</li>
									<li>
										<a href="/jee-project/faces/musee/List.xhtml"><i class="icon-star"></i><br />list of museums </a>
									</li>
									<li>
										<a href="velib/List.xhtml"><i class="icon-tasks"></i><br />Services Velib</a>
									</li>
									<li>
										<a href="about.xhtml"><i class="icon-user"></i><br />About</a>
									</li>
									<li>
										<a href="contact.xhtml"><i class="icon-envelope-alt"></i><br />Contact</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</h:body>
</html>
