<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets">

  <ui:include src="/template/header.xhtml"/>

        <h:form>
		<p>Welcome #{login.user}</p>
		<h:commandLink action="#{login.logout}" value="Logout"></h:commandLink>
	</h:form>
  <h:body>

    <!-- Slider -->
    <div class="slider">
      <div class="container">
        <div class="row">
          <div class="span10 offset1">
            <div class="flexslider">
              <ul class="slides">
                <li data-thumb="assets/img/slider/1.jpg">
                  <img src="assets/img/slider/1.jpg"/>
                  <p class="flex-caption">Vous vous apprêtez à visiter le plus grand musée du monde, fréquenté
                    chaque année par près de 10 millions de visiteurs, dont la mission principale est d’assurer la conservation,
                    l’éducation et la transmission d’un patrimoine aux générations futures.</p>
                </li>
                <li data-thumb="assets/img/slider/2.jpg">
                  <img src="assets/img/slider/2.jpg"/>
                  <p class="flex-caption">Découvrez la nouvelle collection été du Slip Français et Vélib’ !.</p>
                </li>
                <li data-thumb="assets/img/slider/3.jpg">
                  <img src="assets/img/slider/3.jpg"/>
                  <p class="flex-caption">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et. Lorem ipsum dolor sit amet, consectetur.</p>
                </li>
                <li data-thumb="assets/img/slider/4.jpg">
                  <img src="assets/img/slider/4.jpg"/>
                  <p class="flex-caption">Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
                </li>


              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Site Description -->
    <div class="presentation container">
      <h2>Nous sommes <span class="violet"> France Visite</span> un site qui vous donne tous les informations sur les musées en France et les vélib à Paris</h2>
      <p>Si vous dérirez avoir de rapides résultats en toute sécurité ?</p>
    </div>



    <!-- Latest Work -->
    <div class="portfolio container">
      <div class="portfolio-title">
        <h3>Visite en France</h3>
      </div>
      <div class="row">
        <div class="work span3">
          <img src="assets/img/portfolio/work1.jpg" alt=""/>
          <h4>Musée du Louvre</h4>
          <p>Le musée du Louvre est un musée d'art et d'antiquités situé au centre de Paris dans le palais du Louvre. Il est le plus grand des musées d'art du monde par ...</p>
          <div class="icon-awesome">
            <a href="assets/img/portfolio/work1.jpg" rel="prettyPhoto"><i class="icon-search"></i></a>
            <a href="musee.xhtml"><i class="icon-link"></i></a>
          </div>
        </div>
        <div class="work span3">
          <img src="assets/img/portfolio/work2.jpg" alt=""/>
          <h4>Velib a paris</h4>
          <p>La Mairie de Paris propose le service P’tit Vélib’, en partenariat avec JCDecaux, pour le plaisir des plus jeunes Parisiens.
           è A travers ce service, la Ville de Paris s'engage...</p>
          <div class="icon-awesome">
            <a href="assets/img/portfolio/work2.jpg" rel="prettyPhoto"><i class="icon-search"></i></a>
            <a href="musee.xhtml"><i class="icon-link"></i></a>
          </div>
        </div>
        <div class="work span3">
          <img src="assets/img/portfolio/work3.jpg" alt=""/>
          <h4>Musée d'Orsay</h4>
          <p>Le musée d’Orsay est un musée national inauguré en 1986, situé dans le 7e 
              arrondissement de Paris et installé, le long de la rive gauche de la Seine, dans l'ancienne...</p>
          <div class="icon-awesome">
            <a href="assets/img/portfolio/work3.jpg" rel="prettyPhoto"><i class="icon-search"></i></a>
            <a href="musee.xhtml"><i class="icon-link"></i></a>
          </div>
        </div>
        <div class="work span3">
          <img src="assets/img/portfolio/work4.jpg" alt=""/>
          <h4>Chateau de versailles</h4>
          <p>Le château de Versailles est un château et un monument historique français qui se situe à Versailles, dans les Yvelines, en France. 
              Il fut la résidence des rois ....</p>
          <div class="icon-awesome">
            <a href="assets/img/portfolio/work4.jpg" rel="prettyPhoto"><i class="icon-search"></i></a>
            <a href="musee.xhtml"><i class="icon-link"></i></a>
          </div>
        </div>
      </div>
    </div>

    <!-- Testimonials -->
    <div class="testimonials container">
      <div class="testimonials-title">
        <h3>Testimonials</h3>
      </div>
      <div class="row">
        <div class="testimonial-list span12">
          <div class="tabbable tabs-below">
            <div class="tab-content">
              <div class="tab-pane active" id="A">
                <img src="assets/img/testimonials/1.jpg" title="" alt=""/>
                <p>"Ce musée bien que pas spécialement grand, contient énormément de chose
Le personnel propose des animations interactives très sympathiques et dynamiques
et on en retient vraiment quelque chose..."<br /><span class="violet">othmane el koudia</span></p>
              </div>
              <div class="tab-pane" id="B">
                <img src="assets/img/testimonials/2.jpg" title="" alt=""/>
                <p>"Préparez-vous à être surpris. J'ai passé un excellent moment ! Réserve beaucoup de temps. Assurez-vous que vous avez Paris Museum Pass, donc vous n'avez pas besoin de rester en ligne. Super pour les gens qui aiment l'histoire...."<br /><span class="violet">Mohammed kouach</span></p>
              </div>
              <div class="tab-pane" id="C">
                <img src="assets/img/testimonials/3.jpg" title="" alt=""/>
                <p>"Pour moi l'un des plus beaux musée d'art. Le cadre est exceptionnel, les collections magnifiques. A faire..."<br /><span class="violet">senhaji yassine</span></p>
              </div>
              <div class="tab-pane" id="D">
                <img src="assets/img/testimonials/1.jpg" title="" alt=""/>
                <p>"On peut revenir à chaque visite de Paris sans jamais se lasser. Des œuvres mondialement connues et des expositions temporaires toujours intéressantes...."<br /><span class="violet">adil miloudi</span></p>
              </div>
            </div>
            <ul class="nav nav-tabs">
              <li class="active"><a href="#A" data-toggle="tab"></a></li>
              <li class=""><a href="#B" data-toggle="tab"></a></li>
              <li class=""><a href="#C" data-toggle="tab"></a></li>
              <li class=""><a href="#D" data-toggle="tab"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

</h:body>
  <ui:include src="/template/footer.xhtml"/>
</ui:composition>