<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">

    <ui:define name="head">
		<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAT49BmPBrvoi-yxh7OsGNhh6LBeOblMaY"></script>        
        <script type="text/javascript">
            function geocode() {
                PF('geoMap').geocode(document.getElementById('address').value);
            }

            function reverseGeocode() {
                var lat = document.getElementById('lat').value,
                    lng = document.getElementById('lng').value;

                PF('revGeoMap').reverseGeocode(lat, lng);
            }
        </script>
                
    <ui:include src="/template/header.xhtml"/>
	</ui:define>
    
    <ui:define name="title">
        <br/>
        GMap - <span class="subitem">Geolocation</span>
    </ui:define>

    <ui:define name="description">
        search for museums.
    </ui:define>

    <ui:define name="implementation">

        <h:form prependId="false">
            
            <h:panelGrid columns="3" style="margin-bottom:10px" cellpadding="5">
                <p:outputLabel for="address" value="Address:" />
                <p:inputText id="address" />
                <p:commandButton value="Geolocalisation" icon="ui-icon-search" onclick="geocode()" type="button" />
            </h:panelGrid>
            
            <p:gmap id="geoGmap" widgetVar="geoMap" center="#{geocodeView.centerGeoMap}" zoom="16" type="ROADMAP" model="#{geocodeView.geoModel}" style="width:100%;height:400px">
                <p:ajax event="geocode" listener="#{geocodeView.onGeocode}" update="@this" />
            </p:gmap>

          

        </h:form>
        
    </ui:define>
 

</ui:composition>
