<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui"
>

    <ui:include src="/template/header.xhtml"/>
     Page Title
    <div class="page-title">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <i class="icon-envelope-alt page-title-icon"></i>

                    <h2>Nous contacter /</h2>

                    <p>Veuillez remplir le formulaire</p>
                </div>
            </div>
        </div>
    </div>
     Contact Us
    <div class="contact-us container">
        <div class="row">
            <div class="contact-form span7">
                <p>Vous avez une demande à formuler ou souhaitez faire une suggestion ? Prenez soin d'identifier l'interlocuteur le mieux adapté, votre demande n'en sera que mieux traitée !</p>

                <p>Pour obtenir des informations sur le musée, les services à votre disposition et notre actualité, l’équipe du service de l’accueil est à votre disposition :
                    Banque d'information des musées et velibs :
                    Tél. : +33 (0)1 40 20 53 17
                    Tous les jours, sauf le mardi, de 9h à 18h45 (21h45 les mercredis et vendredis).
                </p>
 
    <div class="contact-us container">
        <div class="row">
            <div class=" span4">
  
        <h:form >
                <h:panelGroup >
                    <p:panelGrid columns="2" rendered="#{contactController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateContactLabel_name}" for="name" />
                        <p:inputText id="name" value="#{contactController.selected.name}" title="#{bundle.CreateContactTitle_name}" required="true" requiredMessage="#{bundle.CreateContactRequiredMessage_name}"/>
                        <p:outputLabel value="#{bundle.CreateContactLabel_email}" for="email" />
                        <p:inputText id="email" value="#{contactController.selected.email}" title="#{bundle.CreateContactTitle_email}" required="true" requiredMessage="#{bundle.CreateContactRequiredMessage_email}"/>
                        <p:outputLabel value="#{bundle.CreateContactLabel_subject}" for="subject" />
                        <p:inputText id="subject" value="#{contactController.selected.subject}" title="#{bundle.CreateContactTitle_subject}" required="true" requiredMessage="#{bundle.CreateContactRequiredMessage_subject}"/>
                        <p:outputLabel value="#{bundle.CreateContactLabel_message}" for="message" />
                        <p:inputTextarea id="message" value="#{contactController.selected.message}" title="#{bundle.CreateContactTitle_message}" required="true" requiredMessage="#{bundle.CreateContactRequiredMessage_message}"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{contactController.create}" value="#{bundle.Send}" onclick="location.href ='http://localhost:9090/jee-project/faces/contactSendOK.xhtml'" />
                    <p:commandButton value="#{bundle.Cancel}" onclick="location.href ='http://localhost:9090/jee-project/faces/acceuil.xhtml'"/>
                </h:panelGroup>
            </h:form>
            </div></div></div>
 
  </div>
          
            <div class="contact-address span5">
               <li><h4>Ou sommes nous ?</h4></li>
               <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1618.3720836571094!2d-5.821180515745541!3d35.781660215255165!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd0c78aeba189d47%3A0x7fa71fc35c067aad!2sIberia%2C+Tanger%2C+Maroc!5e0!3m2!1sfr!2sfr!4v1418389624520"
               width="400" height="300" frameborder="0" style="border:0"></iframe>
                <li><h4>Addresse</h4></li>
                <p> 5 Boulevard Descartes, 77420 Champs-sur-Marne FRANCE</p>
                <a href="www.u-pem.fr/"><img src="assets/img/rendezvous.png" alt=""/></a>
            </div>
        </div>
    </div>
  

    <ui:include src="/template/footer.xhtml"/>
</ui:composition>
