<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
				xmlns:h="http://java.sun.com/jsf/html"
				xmlns:ui="http://java.sun.com/jsf/facelets"
                                    
                                xmlns:p="http://primefaces.org/ui"
                                    
                                xmlns:f="http://xmlns.jcp.org/jsf/core">

	<ui:include src="/template/loginheader.xhtml"/>
        <f:view>
        <div class="contact-us container">
        <div class="row">
            <div class=" span4">
  
		<h:form>
			<h3>JSF Login Logout</h3>
			<h:outputText value="Username" />
			<h:inputText id="username" value="#{login.user}"></h:inputText>
			<h:message for="username"></h:message>
			<br /><br />

			<h:outputText value="Password" />
			<h:inputSecret id="password" value="#{login.pwd}"></h:inputSecret>
			<h:message for="password"></h:message>
			<br /><br />

			<h:commandButton action="#{login.validateUsernamePassword}"
							 value="Login"></h:commandButton>
		</h:form>
                
                    </div> 
            <div class="contact-address span4"></div>
    <div class="contact-address span4">
            <h:form> 
          
         <h:selectOneMenu
             valueChangeListener="#{classListener.valueChange }"
				onchange="submit();">

				<f:selectItem itemLabel="Français" itemValue="en" />
				<f:selectItem itemLabel="Anglais" itemValue="fr" />
			</h:selectOneMenu>
			<h3>Register now !</h3>
                      
                        <h:outputText value="#{bundle.Home}" />
			<h:inputText id="username" value="#{usersController.selected.uname}"></h:inputText>
			<br /><br />
                        <h:outputText value="Password" />
                        <h:inputSecret id="password" value="#{usersController.selected.password}"></h:inputSecret>
			<h:message for="password"></h:message>
			<br /><br />
                          <h:outputText value="First Name" />
                        <h:inputText id="firstname" value="#{usersController.selected.firstname}"></h:inputText>
			<h:message for="firstname"></h:message>
			<br /><br />
                        <h:outputText value="Last Name" />
                        <h:inputText id="lastname" value="#{usersController.selected.lastname}"></h:inputText>
			<h:message for="lastname"></h:message>
			<br /><br />
                        <h:outputText value="Email" />
                        <h:inputText id="email" value="#{usersController.selected.mail}"></h:inputText>
			<h:message for="email"></h:message>
			<br /><br />

                        <h:commandButton action="#{usersController.create()}" onclick="location.href ='http://localhost:8080/jee-project/faces/contactSendOK.xhtml'"
							 value="Register"></h:commandButton>

            </h:form>

                
            </div>
           </div>   
       </div>
            </f:view>
	<ui:include src="/template/footer.xhtml"/>
</ui:composition>
