<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    

    <h:head>
        <title><ui:insert name="title">Default Title</ui:insert></title>
        <h:outputStylesheet library="css" name="jsfcrud.css"/>
        <h:outputScript library="js" name="jsfcrud.js"/>
         <script  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAT49BmPBrvoi-yxh7OsGNhh6LBeOblMaY"
                 type="text/javascript"></script>

    </h:head>

    <h:body>

        <p:growl id="growl" life="3000" />

        <p:layout fullPage="false">
        
            <p:layoutUnit position="north" size="65" header="#{bundle.AppName}">
                <h:form id="menuForm">
                    <p:menubar>
                        <p:menuitem value="#{bundle.Home}" outcome="/accueil" icon="ui-icon-home"/>
                        <p:submenu label="#{bundle.Maintenance}">
                            <p:menuitem value="Contact" outcome="/contact/List.xhtml" />
                            <p:menuitem value="Musee" outcome="/musee/List.xhtml" />
                            <p:menuitem value="Velib" outcome="/velib/List.xhtml" />
                        </p:submenu>
                    </p:menubar>
                </h:form>
            </p:layoutUnit>

            <p:layoutUnit position="south" size="20">
                <ui:insert name="footer"/>
            </p:layoutUnit>

            <p:layoutUnit position="center">
                <ui:insert name="body"/>
            </p:layoutUnit>

        </p:layout>

    </h:body>

</html>
