<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="VelibCreateDlg" widgetVar="VelibCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateVelibTitle}">
            <h:form id="VelibCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{velibController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateVelibLabel_identifiantDsp}" for="identifiantDsp" />
                        <p:inputText id="identifiantDsp" value="#{velibController.selected.identifiantDsp}" title="#{bundle.CreateVelibTitle_identifiantDsp}" required="true" requiredMessage="#{bundle.CreateVelibRequiredMessage_identifiantDsp}"/>
                        <p:outputLabel value="#{bundle.CreateVelibLabel_codePostal}" for="codePostal" />
                        <p:inputText id="codePostal" value="#{velibController.selected.codePostal}" title="#{bundle.CreateVelibTitle_codePostal}" />
                        <p:outputLabel value="#{bundle.CreateVelibLabel_codeDepartement}" for="codeDepartement" />
                        <p:inputText id="codeDepartement" value="#{velibController.selected.codeDepartement}" title="#{bundle.CreateVelibTitle_codeDepartement}" />
                        <p:outputLabel value="#{bundle.CreateVelibLabel_ville}" for="ville" />
                        <p:inputText id="ville" value="#{velibController.selected.ville}" title="#{bundle.CreateVelibTitle_ville}" />
                        <p:outputLabel value="#{bundle.CreateVelibLabel_typeDeStation}" for="typeDeStation" />
                        <p:inputText id="typeDeStation" value="#{velibController.selected.typeDeStation}" title="#{bundle.CreateVelibTitle_typeDeStation}" />
                        <p:outputLabel value="#{bundle.CreateVelibLabel_emplacement}" for="emplacement" />
                        <p:inputText id="emplacement" value="#{velibController.selected.emplacement}" title="#{bundle.CreateVelibTitle_emplacement}" />
                        <p:outputLabel value="#{bundle.CreateVelibLabel_localisation}" for="localisation" />
                        <p:inputText id="localisation" value="#{velibController.selected.localisation}" title="#{bundle.CreateVelibTitle_localisation}" />
                        <p:outputLabel value="#{bundle.CreateVelibLabel_nomDeLaStation}" for="nomDeLaStation" />
                        <p:inputText id="nomDeLaStation" value="#{velibController.selected.nomDeLaStation}" title="#{bundle.CreateVelibTitle_nomDeLaStation}" />
                        <p:outputLabel value="#{bundle.CreateVelibLabel_placesAutolib}" for="placesAutolib" />
                        <p:inputText id="placesAutolib" value="#{velibController.selected.placesAutolib}" title="#{bundle.CreateVelibTitle_placesAutolib}" />
                        <p:outputLabel value="#{bundle.CreateVelibLabel_placesRechargeTiers}" for="placesRechargeTiers" />
                        <p:inputText id="placesRechargeTiers" value="#{velibController.selected.placesRechargeTiers}" title="#{bundle.CreateVelibTitle_placesRechargeTiers}" />
                        <p:outputLabel value="#{bundle.CreateVelibLabel_nombreTotalDePlaces}" for="nombreTotalDePlaces" />
                        <p:inputText id="nombreTotalDePlaces" value="#{velibController.selected.nombreTotalDePlaces}" title="#{bundle.CreateVelibTitle_nombreTotalDePlaces}" />
                        <p:outputLabel value="#{bundle.CreateVelibLabel_id}" for="id" />
                        <p:inputText id="id" value="#{velibController.selected.id}" title="#{bundle.CreateVelibTitle_id}" required="true" requiredMessage="#{bundle.CreateVelibRequiredMessage_id}"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{velibController.create}" value="#{bundle.Save}" update="display,:VelibListForm:datalist,:growl" oncomplete="handleSubmit(args,'VelibCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="VelibCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
