<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="VelibEditDlg" widgetVar="VelibEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditVelibTitle}">
            <h:form id="VelibEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{velibController.selected != null}">
                        <p:outputLabel value="#{bundle.EditVelibLabel_identifiantDsp}" for="identifiantDsp" />
                        <p:inputText id="identifiantDsp" value="#{velibController.selected.identifiantDsp}" title="#{bundle.EditVelibTitle_identifiantDsp}" required="true" requiredMessage="#{bundle.EditVelibRequiredMessage_identifiantDsp}"/>
                        <p:outputLabel value="#{bundle.EditVelibLabel_codePostal}" for="codePostal" />
                        <p:inputText id="codePostal" value="#{velibController.selected.codePostal}" title="#{bundle.EditVelibTitle_codePostal}" />
                        <p:outputLabel value="#{bundle.EditVelibLabel_codeDepartement}" for="codeDepartement" />
                        <p:inputText id="codeDepartement" value="#{velibController.selected.codeDepartement}" title="#{bundle.EditVelibTitle_codeDepartement}" />
                        <p:outputLabel value="#{bundle.EditVelibLabel_ville}" for="ville" />
                        <p:inputText id="ville" value="#{velibController.selected.ville}" title="#{bundle.EditVelibTitle_ville}" />
                        <p:outputLabel value="#{bundle.EditVelibLabel_typeDeStation}" for="typeDeStation" />
                        <p:inputText id="typeDeStation" value="#{velibController.selected.typeDeStation}" title="#{bundle.EditVelibTitle_typeDeStation}" />
                        <p:outputLabel value="#{bundle.EditVelibLabel_emplacement}" for="emplacement" />
                        <p:inputText id="emplacement" value="#{velibController.selected.emplacement}" title="#{bundle.EditVelibTitle_emplacement}" />
                        <p:outputLabel value="#{bundle.EditVelibLabel_localisation}" for="localisation" />
                        <p:inputText id="localisation" value="#{velibController.selected.localisation}" title="#{bundle.EditVelibTitle_localisation}" />
                        <p:outputLabel value="#{bundle.EditVelibLabel_nomDeLaStation}" for="nomDeLaStation" />
                        <p:inputText id="nomDeLaStation" value="#{velibController.selected.nomDeLaStation}" title="#{bundle.EditVelibTitle_nomDeLaStation}" />
                        <p:outputLabel value="#{bundle.EditVelibLabel_placesAutolib}" for="placesAutolib" />
                        <p:inputText id="placesAutolib" value="#{velibController.selected.placesAutolib}" title="#{bundle.EditVelibTitle_placesAutolib}" />
                        <p:outputLabel value="#{bundle.EditVelibLabel_placesRechargeTiers}" for="placesRechargeTiers" />
                        <p:inputText id="placesRechargeTiers" value="#{velibController.selected.placesRechargeTiers}" title="#{bundle.EditVelibTitle_placesRechargeTiers}" />
                        <p:outputLabel value="#{bundle.EditVelibLabel_nombreTotalDePlaces}" for="nombreTotalDePlaces" />
                        <p:inputText id="nombreTotalDePlaces" value="#{velibController.selected.nombreTotalDePlaces}" title="#{bundle.EditVelibTitle_nombreTotalDePlaces}" />
                        <p:outputLabel value="#{bundle.EditVelibLabel_id}" for="id" />
                        <p:inputText id="id" value="#{velibController.selected.id}" title="#{bundle.EditVelibTitle_id}" disabled="true" requiredMessage="#{bundle.EditVelibRequiredMessage_id}"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{velibController.update}" value="#{bundle.Save}" update="display,:VelibListForm:datalist,:growl" oncomplete="handleSubmit(args, 'VelibEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="VelibEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
