<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">


        <ui:define name="title">
            <h:outputText value="#{bundle.ListVelibTitle}"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <h:form id="VelibListForm">
                 <h:selectOneMenu
             valueChangeListener="#{classListener.valueChange }"
				onchange="submit();">

				<f:selectItem itemLabel="Français" itemValue="fr" />
				<f:selectItem itemLabel="Anglais" itemValue="en" />
			</h:selectOneMenu>
                <p:panel header="#{bundle.ListVelibTitle}">
                    <p:dataTable id="datalist" value="#{velibController.items}" var="item"
                                 selectionMode="single" selection="#{velibController.selected}"
                                 paginator="true"
                                 rowKey="#{item.id}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                        <p:column sortBy="#{item.identifiantDsp}" filterBy="#{item.identifiantDsp}" >
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListVelibTitle_identifiantDsp}"/>
                            </f:facet>
                            <h:outputText value="#{item.identifiantDsp}"/>
                        </p:column>
                        <p:column sortBy="#{item.codePostal}" filterBy="#{item.codePostal}">
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListVelibTitle_codePostal}"/>
                            </f:facet>
                            <h:outputText value="#{item.codePostal}"/>
                        </p:column>
                        <p:column sortBy="#{item.codeDepartement}" filterBy="#{item.codeDepartement}">
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListVelibTitle_codeDepartement}"/>
                            </f:facet>
                            <h:outputText value="#{item.codeDepartement}"/>
                        </p:column>
                        <p:column sortBy="#{item.ville}" filterBy="#{item.ville}">
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListVelibTitle_ville}"/>
                            </f:facet>
                            <h:outputText value="#{item.ville}"/>
                        </p:column>
                        <p:column sortBy="#{item.typeDeStation}" filterBy="#{item.typeDeStation}">
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListVelibTitle_typeDeStation}"/>
                            </f:facet>
                            <h:outputText value="#{item.typeDeStation}"/>
                        </p:column>
                        <p:column sortBy="#{item.emplacement}" filterBy="#{item.emplacement}">
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListVelibTitle_emplacement}"/>
                            </f:facet>
                            <h:outputText value="#{item.emplacement}"/>
                        </p:column>
                        <p:column >
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListVelibTitle_localisation}"/>
                            </f:facet>
                            <p:commandButton id="btn" type="button" icon="ui-icon-pin-s" value="Show Map" onclick="PF('dlg').show();" />
		
                        <p:dialog id="gmapDialog" widgetVar="dlg" width="600" height="300" modal="false">
                    <p:gmap id="gmap" center="#{item.localisation}" zoom="15" type="ROADMAP"
                    mapTypeControl="false" navigationControl="false"  style="width:100%;height:400px" />
                </p:dialog >
                        </p:column>
                        <p:column sortBy="#{item.nomDeLaStation}" filterBy="#{item.nomDeLaStation}">
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListVelibTitle_nomDeLaStation}"/>
                            </f:facet>
                            <h:outputText value="#{item.nomDeLaStation}"/>
                        </p:column>
                        <p:column sortBy="#{item.placesAutolib}" filterBy="#{item.placesAutolib}">
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListVelibTitle_placesAutolib}"/>
                            </f:facet>
                            <h:outputText value="#{item.placesAutolib}"/>
                        </p:column>
                        <p:column sortBy="#{item.placesRechargeTiers}" filterBy="#{item.placesRechargeTiers}">
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListVelibTitle_placesRechargeTiers}"/>
                            </f:facet>
                            <h:outputText value="#{item.placesRechargeTiers}"/>
                        </p:column>
                        <p:column sortBy="#{item.nombreTotalDePlaces}" filterBy="#{item.nombreTotalDePlaces}">
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListVelibTitle_nombreTotalDePlaces}"/>
                            </f:facet>
                            <h:outputText value="#{item.nombreTotalDePlaces}"/>
                        </p:column>
                        <p:column sortBy="#{item.id}" filterBy="#{item.id}">
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListVelibTitle_id}"/>
                            </f:facet>
                            <h:outputText value="#{item.id}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{velibController.prepareCreate}" update=":VelibCreateForm" oncomplete="PF('VelibCreateDialog').show()"/>
                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{bundle.View}" update=":VelibViewForm" oncomplete="PF('VelibViewDialog').show()" disabled="#{empty velibController.selected}"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":VelibEditForm" oncomplete="PF('VelibEditDialog').show()" disabled="#{empty velibController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{velibController.destroy}" update=":growl,datalist" disabled="#{empty velibController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="View.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
