<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
                       
        <p:dialog id="VelibViewDlg" widgetVar="VelibViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewVelibTitle}">
            <h:form id="VelibViewForm">
                
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{velibController.selected != null}">
                        <h:outputText value="#{bundle.ViewVelibLabel_identifiantDsp}"/>
                        <h:outputText value="#{velibController.selected.identifiantDsp}" title="#{bundle.ViewVelibTitle_identifiantDsp}"/>
                        <h:outputText value="#{bundle.ViewVelibLabel_codePostal}"/>
                        <h:outputText value="#{velibController.selected.codePostal}" title="#{bundle.ViewVelibTitle_codePostal}"/>
                        <h:outputText value="#{bundle.ViewVelibLabel_codeDepartement}"/>
                        <h:outputText value="#{velibController.selected.codeDepartement}" title="#{bundle.ViewVelibTitle_codeDepartement}"/>
                        <h:outputText value="#{bundle.ViewVelibLabel_ville}"/>
                        <h:outputText value="#{velibController.selected.ville}" title="#{bundle.ViewVelibTitle_ville}"/>
                        <h:outputText value="#{bundle.ViewVelibLabel_typeDeStation}"/>
                        <h:outputText value="#{velibController.selected.typeDeStation}" title="#{bundle.ViewVelibTitle_typeDeStation}"/>
                        <h:outputText value="#{bundle.ViewVelibLabel_emplacement}"/>
                        <h:outputText value="#{velibController.selected.emplacement}" title="#{bundle.ViewVelibTitle_emplacement}"/>
                        <h:outputText value="#{bundle.ViewVelibLabel_localisation}"/>
                        <h:outputText value="#{velibController.selected.localisation}" title="#{bundle.ViewVelibTitle_localisation}"/>
                        <h:outputText value="#{bundle.ViewVelibLabel_nomDeLaStation}"/>
                        <h:outputText value="#{velibController.selected.nomDeLaStation}" title="#{bundle.ViewVelibTitle_nomDeLaStation}"/>
                        <h:outputText value="#{bundle.ViewVelibLabel_placesAutolib}"/>
                        <h:outputText value="#{velibController.selected.placesAutolib}" title="#{bundle.ViewVelibTitle_placesAutolib}"/>
                        <h:outputText value="#{bundle.ViewVelibLabel_placesRechargeTiers}"/>
                        <h:outputText value="#{velibController.selected.placesRechargeTiers}" title="#{bundle.ViewVelibTitle_placesRechargeTiers}"/>
                        <h:outputText value="#{bundle.ViewVelibLabel_nombreTotalDePlaces}"/>
                        <h:outputText value="#{velibController.selected.nombreTotalDePlaces}" title="#{bundle.ViewVelibTitle_nombreTotalDePlaces}"/>
                        <h:outputText value="#{bundle.ViewVelibLabel_id}"/>
                        <h:outputText value="#{velibController.selected.id}" title="#{bundle.ViewVelibTitle_id}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="VelibViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
